@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cinza: #f9f9f9;
    --branco: #ffffff;
    --preto: #272727;
    --preto-secundario: #4a4a4a;
    --cinza-secundario: #797979;
    --Montserrat: "Montserrat", sans-serif;
}

body {
    background-color: var(--cinza);
}

h1 {
    font-family: var(--Montserrat);
    color: var(--preto);
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 16px;
}

h2 {
    font-family: var(--Montserrat);
    color: var(--cinza-secundario);
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 32px;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
}

.inicio-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.inicio {
    height: 850px;
}

.conteudo {
    width: 45%;
    padding-right: 64px;
}

.banner {
    width: 55%;
    height: 100%;
    background: url(../image/capa-banner.jpg) no-repeat;
    background-size: cover;
}

.button-inicio,
.button-inicio-2 {
    font-family: var(--Montserrat);
    background-color: #272727;
    color: var(--branco);
    border: none;
    width: 225px;
    height: 46px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.button-inicio-2 {
    color: var(--preto);
    background-color: transparent;
    text-decoration-line: underline;
}

.button-inicio:hover {
    background-color: var(--preto-secundario);
    cursor: pointer;
}

.button-inicio-2:hover {
    color: var(--preto-secundario);
    cursor: pointer;
}

/*DESIGN MINIMALISTA*/
.design-minimalista {
    height: 700px;
    background-color: var(--branco);
}

.design-minimalista-container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.img-design {
    display: flex;
    align-items: center;
    width: 50%;
}

.img-design img {
    width: 85%;
}

.card-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.card-design a {
    font-family: var(--Montserrat);
    color: var(--preto);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.card-design a:hover {
    color: var(--preto-secundario);
}

.conteudo-card {
    align-self: end;
}

.card {
    padding: 20px 30px;
    width: 100%;
    background-color: var(--preto);
    margin-bottom: 24px;
}

.card h3 {
    font-family: var(--Montserrat);
    color: var(--branco);
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 20px;
}

.card p {
    font-family: var(--Montserrat);
    color: var(--branco);
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

/*GALERIA*/
.galeria-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria {
    height: 800px;
}

.galeria-container h2 {
    color: var(--preto);
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin: 55px 0 19px 0;
}

.galeria-container p {
    font-family: var(--Montserrat);
    color: var(--cinza-secundario);
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    width: 65%;
    margin-bottom: 32px;
}

.img-galeria {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.itens-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 396px;
    height: 550px;
    margin: 10px 10px;
}

.item1 {
    background: url(/assets/image/img1.jpg) center center no-repeat;
}

.item2 {
    background: url(/assets/image/img2.jpg) center center no-repeat;
}

.item3 {
    background: url(/assets/image/img3.jpg) center center no-repeat;
}

/*RESPONSIVIDADE*/
@media (max-width: 900px) {
    .inicio {
        height: 300px;
    }

    h1 {
        font-size: 24px;
        line-height: 29px;
    }

    h2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }

    .button-inicio,
    .button-inicio-2 {
        width: 147px;
        height: 31px;
        font-size: 12px;
        line-height: 15px;
    }

    .conteudo {
        width: 100%;
        padding: 0;
    }
    .banner {
        display: none;
    }

    /*DESIGN MINIMALISTA RESPONSIVIDADE*/
    .img-design {
        display: none;
    }

    .design-minimalista {
        height: 300px;
    }
    .card {
        padding: 16px;
        margin-bottom: 16px;
    }
    .card-design {
        width: 100%;
    }

    .conteudo-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-design a {
        font-size: 14px;
        line-height: 17px;
    }

    .card h3 {
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 16px;
    }

    .card p {
        font-size: 14px;
    }

    /*GALERIA RESPONSIVIDADE*/
    .galeria-container h2 {
        color: var(--preto);
        font-weight: 600;
        font-size: 24px;
        line-height: 39px;
        margin: 55px 0 19px 0;
    }

    .galeria-container p {
        width: 100%;
        font-size: 14px;
        line-height: 140%;
    }

    .img-galeria{
        width: 100%;
    }

    .itens-galeria {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 350px;
        margin: 0 10px;
    }

    .itens-galeria{
        margin: 0 0 24px 0;
    }
}
